.card-container{
  display: inline-block;
  height: 90px;
  background-color: #ECFEFF;
  box-shadow: 5px 0px 10px #00000026;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  transition: width 0.1s ease;
  color: #536794;
  overflow: hidden;
  width: 160px;
  div{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 2vw;
    margin-top: 0px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease, margin-left 0.1s ease;
    overflow: hidden;
    max-width: 70%;
  }
}

img {
  height: 50px;
  filter: invert(33%) sepia(67%) saturate(567%) hue-rotate(180deg) brightness(60%) contrast(80%);
  opacity: .5;
  margin-top: 20px;
  margin-left: 40px;
}

.card-container:hover{
  width: 580px;
  img {
    opacity: 1;
  }
}

.card-container:hover div{
  transition-delay: 0.11s;
  opacity: 1;
  visibility: visible;
  margin-top: 5px;
}

p{
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  margin:0
}

h5{
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0;
  margin:0
}
