body{
  margin:0;
  height: 100vh;
}

.layout{
  z-index: 3;
  height: 100vh;
  border: 0;
  box-shadow: 0px 0px 8px #ababab;
  padding: 0px 5vw;
  box-sizing: border-box;
  overflow: hidden;
}

.title-zone{
  width: 60%;
  margin-left: 30%;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}

.icon{
  aspect-ratio: 433/87;
  width: 80%;
  height: auto;
  margin-left: -3%;
}

p{
  margin-top: 25px;
  font-size: 1.1vw;
  font-weight: 700;
  color: #524860
}


@media screen and (max-width: 1295px) {

  .layout{
    padding: 0px 2.5vw;
  }
}

@media screen and (max-width: 992px){
  .layout{
    height: 40vw;
    box-shadow: none;
    padding: 0 0;
    align-items: start;
  }
  .title-zone{
    padding: 0 5vw;
    margin: 50px 0 0 0;
    width: 100%;
    align-items: center;
    justify-content: start;
  }
  p{
    text-align: center;
    font-size: 4vw;
  }
  .icon{
    width: 60%;
  }
}

@media screen and (max-width: 602px) {
  .layout{
    height: 50vw;
  }
}

@media screen and (max-width: 360px) {
  .layout{
    height: 60vw;
  }
}
