<div class="row m-0 p-0 w-100" [ngClass]="{'flex-column': responsiveView}">

    <div class="col-lg-6 col-12 p-0 justify-content-center layout">



            <div class="title-zone">
                    <img src="/assets/mathilde-logo.png" class="icon">
                <p>
                    {{step | i18nPlural:textByStep}}
                </p>
            </div>



    </div>
    <div class="col-lg-6 col-12 p-0 d-flex justify-content-center">
        <router-outlet></router-outlet>
    </div>

</div>
<img src="/assets/bg-logo.png" class="bg-icon">
